.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: fit-content;

  padding: 20px;
  border-radius: 8px;
  border: solid 1px black;
  margin: 10px 20px;
}

.title {
  font-weight: bold;
  color: coral;
  padding: 10px 0;
  border-bottom: solid 1px black;
}
