.App {
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 데스크탑
.navTypo {
  font-size: 20px;
}
.sectionTypo {
  font-size: 30px;
}
.projectsTitle {
  font-size: 70px;
}
.projectsTitleBoxHeight {
  height: 150px;
}
.lineTitle {
  font-size: 22px;
}

div {
  font-size: 21px;
}
p {
  font-size: 20px;
}

// 테블릿
@media (max-width: 768px) {
  /* 뷰포트 너비가 768px 이하인 경우 */
  .navTypo {
    font-size: 18px;
  }
  .sectionTypo {
    font-size: 28px;
  }
  .projectsTitle {
    font-size: 60px;
  }
  .projectsTitleBoxHeight {
    height: 130px;
  }
  .lineTitle {
    font-size: 15px;
  }

  div {
    font-size: 15px;
  }
  p {
    font-size: 14px;
  }
}

// 모바일
@media (max-width: 480px) {
  /* 뷰포트 너비가 480px 이하인 경우 */
  .navTypo {
    font-size: 16px;
  }
  .sectionTypo {
    font-size: 26px;
  }
  .projectsTitle {
    font-size: 45px;
  }
  .projectsTitleBoxHeight {
    height: 110px;
  }
  .lineTitle {
    font-size: 13px;
  }

  div {
    font-size: 13px;
  }
  p {
    font-size: 12px;
  }
}
